# IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# Mac specific files
*.DS_Store

# Windows specific files
*.db
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig