# Maven
target/
*.log
*.jar
*.war
*.ear

# Spring Boot specific
spring.log
spring-boot-devtools/

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Java class files
*.class

# Java specific
*.class
*.jar
*.war
*.ear

# Logs
*.log
*.log.*

# Temp files
*.tmp
*.swp
*.swo
